* {
  box-sizing: border-box;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F0F8FF !important;
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.logo {
  height: 3% !important;
  width: 3% !important;
  margin-left: 550px !important;
}

h1 {
  color: #111 !important;
  text-align: center !important;
  font-size:48px !important;

}

h2 {
  color: #111 !important;
  text-align: center !important;
  font-size:32px !important;
}

.about {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: #457B9D;
  color: white;
  border-radius: 25px;
}

html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

.img_home {
  background-image: url("../images/fire_rescue.jpg");
  width: 10px;
  height: 10px;
}
img {
  width: 100% !important;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }

  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  background-color: grey;
  color: white;
  border-radius: 25px;
}

.fa {
  font-size: 50px;
}

.navbar-nav li a {
            color: white ! important;
            float: left;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        .navbar-default {
            background-color: #1D3557 !important;
        }

        ul.nav a:hover { color: lightblue !important; }

        li a:active {
          color: blue !important;
        }

  .dropdown li a {
    color: grey ! important;
    float: center;
    color: lightblue;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }


body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.open-button {
  background-color: #CD5C5C;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}


.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

div.sticky {
  position: -webkit-sticky;
  position: left;
}

.title {
  color: white;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#mylist {

  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.container1 {
  border-radius: 5px;
  background-color: #D3D3D3;
  padding: 20px;
  width: 50%;
  justify-content: center !important;
  margin: 0 auto;
