<!DOCTYPE HTML>
<html>
<title>D&S Project</title>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css\styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <center>
    <h1>Certifications</h1>
  </center>
  <center>
    <div class="topnav">
      <a href="homepage.html">Home</a>
      <a href="about_ocr.html">About OCFR</a>
      <a href="members.html">View Members</a>
      <a href="certification.html">Certifications</a>
      <a class="active" href="report.html">Report</a>
        <ul class="dropdown">
          <li><a href="report.html">Certification Report</a></li>
          <li><a href="report2.html">Member Report</a></li>
        </ul>
    </div>
  </center>
  <br>

  <h1>Certification</h1>
  <div id="certifs" class="table-responsive">
    <table class="table table-bordered table-striped">
      <tr>
        <th>Certification ID</th>
        <th>Certification Name</th>
        <th>Agency</th>
        <th>Standard Expiry</th>
      </tr>
      <tr v-for="cert in CertList">
        <td>{{ cert.certification_id }}</td>
        <td>{{ cert.certification_name }}</td>
        <td>{{ cert.agency }}</td>
        <td>{{ cert.standard_expiry }}</td>
      </tr>
    </table>


  <form v-on:submit.prevent="createCert">
    <div>
      <label for="certName">Certification Name:</label>
      <input type="text" v-model="newCert.certification_name" class="form-control" id="certName">
      <label for="agency">Agency:</label>
      <input type="text" v-model="newCert.agency" class="form-control" id="agency">
      <label for="std">Standard Expiry:</label>
      <input type="text" v-model="newCert.standard_expiry" class="form-control" id="std">
    </div>

    <div></br>
      <input type="submit" value="Create Certification" class="button">
    </div>
  </form>

  <form v-on:submit.prevent="deleteCert">
    <div class="members">
      <label for="certificationid">Certification Id:</label>
      <input type="text" v-model="certId.certification_id" class="form-control" id="certId">

    </div>

    <div></br>
      <input type="submit" value="Delete Certification" class="button">
    </div>

    <button type="button" class="btn btn-secondary" onclick="window.location.href='cert_edit.html';">
      Edit Certification
    </button>

  </form>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/certification.app.js"></script>
  <script src="js/edit_cert.app.js"></script>

</body>

</html>
