<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- my custom CSS goes here -->
    <link rel="stylesheet" href="css/styles.css">

  </head>
  <body>
    <center>
      <h1> Welcome Our Webpage!</h1>
    </center>
    <center>
      <div class="topnav">
        <a href="homepage.html">Home</a>
        <a href="about_ocr.html">About OCFR</a>
        <a class="active" href="members.html">View Members</a>
        <a href="certification.html">Certifications</a>
        <a href="report.html">Report</a>
      </div>
    </center>

    <br>
    <div class="container-fluid">
      <div class="row" id="certifPage">
        <div id="cardPaneLeft" class="col cardPane cardPaneLeft">
          <form method="post" v-on:submit.prevent="handleNewCertForm">
            <h3>Create New Certification Record</h3>

            <div class="form-group">
            <label for="certName">Certification Name</label>
            <input type="text" v-model="newCertForm.certName" class="form-control" placeholder="Jane">
          </div>
          <div class="form-group">
            <label for="agency">Certification Agency</label>
            <input type="text" v-model="newCertForm.agency" class="form-control" placeholder="Doe">
          </div>
          <div class="form-group">
            <label for="standExpiry">Standard Expiry</label>
            <select class="form-control" v-model="newCertForm.standExpiry">
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other/Unknown</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
          </form>

          <br>
          <form method="post" v-on:submit.prevent="handleNewCertForm">
            <h3>Create New Member</h3>

            <div class="form-group">
            <label for="certName">Member First Name</label>
            <input type="text" v-model="newCertForm.certName" class="form-control" placeholder="Jane">
          </div>
          <div class="form-group">
            <label for="agency">Member Last Name</label>
            <input type="text" v-model="newCertForm.agency" class="form-control" placeholder="Doe">
          </div>
          <div class="form-group">
            <label for="standExpiry">Date of Birth</label>
            <select class="form-control" v-model="newCertForm.standExpiry">
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other/Unknown</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>

          <!-- <button v-on:click="yell()">Click Me!</button> -->
        </div>

        <br>
        <div class="col-6">
          <h1>Member List</h1>
            <ul id="members">
              <li v-for="item in MembList" :key="item.member_id">
                {{item.first_name}} - {{item.last_name}}
              </li>
            </ul>
        </div>

        <br>
        <div class="col cardPane cardPaneRight">
          <h3>Waiting patients</h3>
          <div class="patientCard triageCritical" data-patient_id="3" data-visit_id="520">
            <span class="lastName">Gregory</span>, <span clas="firstName">Tom</span>
            <span class="birthDate text-right">1978</span>
          </div>
          <div class="patientCard triageUrgent" data-patient_id="1" data-visit_id="501">
            <span class="lastName">Dayton</span>, <span clas="firstName">Keith</span>
            <span class="birthDate float-right">1980</span>
          </div>
          <div class="patientCard triageMinor" data-patient_id="3" data-visit_id="520">
            <span class="lastName">Prabhakar</span>, <span clas="firstName">Bipin</span>
            <span class="birthDate text-right">1981</span>
          </div>
        </div>
      </div>
    </div>
    <!-- END content -->

    <!-- Footer? Insert here -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/member.app.js"></script>
  </body>
</html>
