<!DOCTYPE HTML>
<html>
<title>D&S Project</title>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css\styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
  <center>
    <h1> Welcome Our Webpage!</h1>
  </center>
  <center>
    <div class="topnav">
      <a href="homepage.html">Home</a>
      <a href="about_ocr.html">About OCFR</a>
      <a href="members.html">View Members</a>
      <a href="certification.html">Certifications</a>
      <a class="active" href="report.html">Report</a>
    </div>
  </center>
  <br>

  <center>
    <h2>List of Expired Certifications and Member Names</h2>
    <b>Search the table for Certification:
      <input id="gfg" type="text" placeholder="Search here">
    </b>
    <br>
    <div id="exp_certifs" class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Certification Name</th>
            <th scope="col">Date Expired</th>
          </tr>
        </thead>
        <tbody id="ExpCertTableBody">
          <tr v-for="exp in ExpList">
            <td>{{ exp.first_name }}</td>
            <td>{{ exp.last_name }}</td>
            <td>{{ exp.certification_name }}</td>
            <td>{{ exp.date_expired }}</td>
          </tr>
        </tbody>
      </table>
    </div><br>

    <h2>List of Members by Station, Radio, and Email Address</h2>
    <div id="mem_rep" class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Station</th>
            <th scope="col">Radio</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody id="MemTableBody">
          <tr v-for="mem in MemList">
            <td>{{ mem.first_name }}</td>
            <td>{{ mem.last_name }}</td>
            <td>{{ mem.station }}</td>
            <td>{{ mem.radio }}</td>
            <td>{{ mem.email_address }}
          </tr>
        </tbody>
      </table>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/exp_cert_rep.app.js"></script>
<script src="js/members_rep.app.js"></script>
<script>
  $(document).ready(function() {
    $("#gfg").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#ExpCertTableBody tr").filter(function() {
        $(this).toggle($(this).text()
          .toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

</html>
